---
import { CONTACTS } from "../config";
import { Icon } from "astro-icon/components";
---

<div class="text-slate-400 pt-4">
  <div class="flex items-center gap-4">
    <a href={CONTACTS.github} target="_blank" class="hover:[&>svg]:text-white" aria-label="Boutton de navigation vers les github"
>
      <Icon name="github" width={40} height={40} class="transition-colors duration-300" />
    </a>
    <a href={CONTACTS.linkedIn} target="_blank" class="hover:[&>svg]:text-white" aria-label="Boutton de navigation vers les linkedIn "
>
      <Icon name="mdi:linkedin" width={45} height={45} class="transition-colors duration-300" />
    </a>
    <a href={CONTACTS.email} class="hover:[&>svg]:text-white" aria-label="Boutton de navigation vers les email"
>
      <Icon name="mdi:email" width={45} height={45} class="transition-colors duration-300" />
    </a>
  </div>
</div>
