---
import ContactRow from "./contact-row.astro";
import { FOOTER_CONTENT } from "../config";
---

<footer class="bg-zinc-800/40 w-full h-15 flex items-center text-slate-400 py-6 px-8 justify-between">
  <span class="hidden md:block"> © <span id="current-year"> </span> {FOOTER_CONTENT} </span>
  <ContactRow />
</footer>

<script>
  window.onload = () => {
    const currentYear = new Date().getFullYear();
    const yearSpan = document.getElementById("current-year");
    if (yearSpan) {
      yearSpan.textContent = currentYear.toString();
    }
  };
</script>
