---
import { SITE_TITLE } from "../config";
import Menus from "./menus.astro";
import LanguageDropdown from "./react/LanguageDropdown.tsx";
---

<header
  class="sticky z-50 top-0 backdrop-blur-lg transition-all select-none bg-gradient-to-b from-slate-900 to-transparent"
>
  <div class="flex flex-row gap-8 items-center justify-between max-w-screen-md mx-auto h-24 px-4 sm:px-6">
    <a href="/" class="flex flex-row items-center justify-center gap-2">
      <img src="../../public/devo.png" alt="author avatar" class="w-[50px] rounded-full aspect-square" />
      <h1
        class="uppercase hidden sm:block tracking-wider bg-clip-text text-center text-transparent bg-gradient-to-r from-slate-100 to-slate-400 font-logo font-black"
        class=""

      >
        {SITE_TITLE}
      </h1>
    </a>
    <Menus>
      <LanguageDropdown client:load />
    </Menus>
  </div>
</header>
