---
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import Footer from "./footer.astro";
import Header from "./header.astro";
import Meta from "./meta.astro";
import StarBackground from "./react/StarBackground.tsx";

import "@fontsource/poppins";

type Props = {
  title?: string;
  description?: string;
  hideFooter?: boolean;
};

const { title, description, hideFooter } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale} class="bg-slate-900">
  <head>
    <Meta title={title ? `${title} · ${SITE_TITLE}` : SITE_TITLE} description={description ?? SITE_DESCRIPTION} />
    <link rel="icon" href="/devo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
    
    <!-- <style>
      @import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
    </style> -->
    <slot name="meta" />
  </head>
  <body class="relative bg-neutral-900">
    <div id="layout-container" class="z-10 flex flex-col h-full mb-8 overflow-y-scroll antialiased transparent">
      <Header />

      <div class="flex-auto">
        <slot />
      </div>
      {!hideFooter && <Footer />}
    </div>

    <StarBackground client:idle />
  </body>
</html>
